@model KwotaSlownie.ViewModel.CurrencyAmountViewmodel

<h1>Przeliczenie kursu z Euro</h1>

@if (Model == null)
{
    @Html.Raw("Nie ma walut!");
}

else
{
<form asp-controller="Currency" asp-action="CalculatedCurrency" method="post">

    <div class="mb-lg-3">
        <label class="form-label">Podaj kwotę</label>
        <input class="form-control" asp-for="UserAmount" placeholder="Podaj kwotę, np: 1040,50" required>
    </div>

    @Html.Raw("I wybierz datę");

    <br />

    @foreach (var item in Model.Amounts)
     {
        <button type="submit" asp-route-Info1="@item.Info1" asp-route-ChoosedCurrency="@item.Currency" asp-action="CalculatedCurrency" class="btn btn-outline-primary">
            @item.Date

        </button>
        @item.Currency
        @Html.Raw("PLN/€")
        <br />
     }
</form>

}